body {
  font-family: 'Archivo Narrow', sans-serif;
  background: #FBFBFB url('../img/02.png') top left repeat;
}
.jumbotron{
  margin-bottom: 0;
  padding-top:48px;
  padding-bottom:48px;
  text-align: center;
}

footer p{
  text-align: center;
}
.btn-group-vertical > .btn:last-child:not(:first-child), .btn-group-vertical > .btn:first-child:not(:last-child), button.btn, btn{
	border-radius: 0;
}
a, a:hover, a:focus{
  color:#23527c;
}
.navbar-nav > li > audio {
    padding-top: 19px;
}
/*
 * Demo
 */
 
a.sml{
  
  margin-right:16px;
  font-size:0.9em;
}